%h2= @wishlist.title
%br
%ol
  - @items.each do |i|
    %li= i.name
    %br
%br
%br
= form_for @item do |f|
  = f.label :name
  = f.text_field :name
  = f.hidden_field :wishlist_id
  = f.submit
%br
= link_to "Back", user_wishlists_path(current_user)

